.main{
    display: flex;
    height: 300px;
}

.main1{
    /* background-color: pink; */
    width: 50%;
    
}

.main2{
    /* background-color: powderblue; */
    width: 50%;
}

.CodeMirror {
    font-family: Arial, monospace;
    font-size: 18px;
}

.title{
    text-align: center;
    justify-content: center;
}

.tag{
    text-align: center;
    justify-content: center;
}

.example{
    background-color: goldenrod;
    display: flex;
    font-size: 18px;
    margin-bottom: 10px;
}

.prompt{
    background-color: pink;
    font-size: 18px;
    text-align: left;
    justify-content: left;
}

p{
    white-space: pre-line;
}


img{
    height: auto;
    width: auto;
}

