.main{
    padding: 10px;
}

.prompt{
    padding: 10px;
}

.example{
    padding: 10px;
}

.space{
    height: 50px;
}

img{
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

p{
    display: flex;
    justify-content: center;
}