.column-field .num{
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}

.question-field{
    display: flex;
    justify-content: space-between;
}

.question-field-incomplete{
    display: flex;
    padding: 10px;
    margin: 10px;
    background-color: slategray;
    font-size: 20px;
    width: fit-content;
}

.question-field .reviewed{
    margin-right: 84px;
}

.question-field .not-reviewed{
    display: flex;
}

input {
    margin-right: 10px;
    margin-top: 5px;
}

.marked{
    margin-right: 10px;
    font-size: 15px;
    padding: 5px;
}

.marked-reviewed{
    margin-right: 10px;
    font-size: 15px;
    padding: 5px;
    background-color: green;
    color: white;
    border-style: none;
}

.name{
    margin-right: 10px;
}

.fa-biking{
    color: green;
}

.underDevelopment{
    margin-top: 500px;
}

.question-field .title{
    display: flex;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    width: fit-content;
}


.question-field .rating{
    margin-right: 10px;
}

