.column-field .num{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.column-field .difficulty{
    margin-right: 50px;
    margin-top: 10px;
    font-size: 20px;
}

.question-field{
    display: flex;
    justify-content: space-between;
}

.question-field-incomplete{
    display: flex;
    padding: 10px;
    margin: 10px;
    background-color: slategray;
    font-size: 20px;
    width: fit-content;
}

.question-field .reviewed{
    margin-right: 84px;
}

.question-field .not-reviewed{
    display: flex;
}

.column-field .searchBox {
    margin-left: 20px;
    margin-top: 5px;
    font-size : 15px;
    padding: 3px;
}

.marked{
    margin-right: 10px;
    font-size: 15px;
    padding: 5px;
}

.marked-reviewed{
    margin-right: 10px;
    font-size: 15px;
    padding: 5px;
    background-color: green;
    color: white;
    border-style: none;
}

.name{
    margin-right: 10px;
}

.fa-biking{
    color: green;
}

.underDevelopment{
    margin-top: 500px;
}

.question-field .title{
    display: flex;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    width: fit-content;
}


.question-field .rating{
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
}

@media screen and (max-width: 970px) {
    .marked{
        margin-right: 10px;
        font-size: 12px;
        padding: 5px;
    }

    .marked-reviewed{
        margin-right: 10px;
        font-size: 12px;
        padding: 5px;
        background-color: green;
        color: white;
        border-style: none;
    }

    .question-field .title{
        display: flex;
        padding: 10px;
        margin: 10px;
        font-size: 18px;
        width: fit-content;
    }

    .column-field .difficulty{
        margin-right: 20px;
        margin-top: 15px;
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .marked{
        margin-right: 10px;
        font-size: 8px;
        padding: 5px;
    }

    .marked-reviewed{
        margin-right: 10px;
        font-size: 8px;
        padding: 5px;
        background-color: green;
        color: white;
        border-style: none;
    }

    .question-field .title{
        display: flex;
        justify-content: flex-start;
        padding: 10px;
        margin: 10px;
        font-size: 17px;
    }

    .column-field .difficulty{
        display: none;
    }

    .marked{
        display: none;
    }

    .marked-reviewed{
        display: none;
    }
}

