:root{
    --bg: #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
}

.dropdown{
    position: absolute;
    top: 58px;
    width: fit-content;
    transform: translateX(-20%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 10px;
    overflow: hidden;
}

.dropdown > button {
    font-size: 20px;
    background-color: green;
    border-style: none;
    padding: 10px;
    color: white;
}