.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: whitesmoke;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('/images/turbine6.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity:.80; 
}

.hero-container .title {
  color: red;
  font-size: 50px;
  margin-top: -100px;
}

.hero-container .sentence {
  margin-top: 8px;
  color: black;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

.quote{
  color: midnightblue;
  font-weight: bolder;
  margin-top: 200px;
  font-size: 20px;
}

@media screen and (max-width: 1400px) {
  .hero-container .title {
    font-size: 38px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 970px) {
  .hero-container .title {
    font-size: 30px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container .title {
    font-size: 16px;
    margin-top: -100px;
  }

  .hero-container .sentence {
    font-size: 16px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }

  .quote{
    margin-top: 200px;
    font-size: 14px;
  }
}