
.box-field{
    width: 100%;
    display: flex;
    padding: 10px;
    margin: 10px;
    background-color: antiquewhite;
    font-size: 20px;
    width: fit-content;
}

.column-field{
    display: block;
}

input[type=checkbox]{
    margin-right: 50px;   
}

.marked{
    display: flex;
    color: black;
    margin-right: 10px;
}

.name{
    margin-right: 10px;
}

