input[type="radio"]{
    display: none;
}

.star{
    cursor: pointer;
    transition: color 200ms;
}

.starRating-main{
    display: flex;
}

.no-rating{
    margin-right: 5px;
    margin-top: 5px;
    color: grey;
    font-size: 12px;
}