@import url('https://fonts.googleapis.com/css?family=Nunito:600,700&display=swap');
$primary: #4D6FE5;

* {
    font-family: Nunito, Roboto, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // background-color: black;
}
  
  