@import url('https://fonts.googleapis.com/css?family=Nunito:600,700&display=swap');



// ul {
//     list-style: none;
//     margin: 0;
//     padding: 0;
// }

// a{
//     color: var(--text-color);
//     text-decoration: none;
// }

* {
    font-family: Nunito, Roboto, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
  